.padding-right {
  padding-right: 0;
}
.left-sidebar h2, .brands_products h2 {
  color: #0493BD;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}
h2.title {
  color: #0493BD;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 30px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.category-products {
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}
.category-products .panel {
  background-color: #FFFFFF;
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 0px;
}
.category-products .panel-default .panel-heading {
  background-color: #FFFFFF;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.category-products .panel-default .panel-heading .panel-title a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}
.replay-box label {
    background: #FE980F;
    color: #FFFFFF;
    margin-bottom: 15px;
    padding: 3px 15px;
    float: left;
    font-weight: 400;
}